#galery img{
    max-width: 100%;
    width: 40rem;
    border-radius: .6rem;
    margin-bottom: .6rem;
}
#galery .content img:hover{
    cursor: auto;
}

#galery h1{
    margin-bottom: 6rem;
}

#galery p{
    margin-bottom: 15rem;
    margin-inline: auto;
    width: 35rem;
}

#galery h3{
    margin-bottom: 1.4rem;
}

#galery .button:hover{
    cursor: pointer;
}